body{
    overflow:hidden;
    background: #DDD7E7;
    
 
}

.login-form{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    margin-bottom: 50px;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
form{
    width:60%;
    height:55%;
    background: #fff;
    padding:30px;
    border-radius:3px;
    z-index: 1;
    border-radius: 12px;
}


label{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

input{
    margin-bottom:10px;
}

.divBtn button{
    width: 100%;
    background: #85D673;
    border: none;
    font-size:1.2em;
    padding:10px;
    transition:.4s;
}